.App {
  text-align: center;
}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.generic-image {
  opacity: 0.95;
  transition: 0.3s;
}

.generic-image:hover {
  zoom: 120%;
  opacity: 1;
}

.logo {
  text-align: left;
}
.search-icon {
  text-align: center;
}

.sign-up {
  text-align: right;
}

.sign-in{
  text-align: right;
}
.main-page {
  display: grid;
  grid-template-columns: 25% 60% 15%;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}






.main-nav-bar {
  display: grid;
  grid-template-columns: 10% 50% 20% 20%;
  background-color: "C7BDBC";
  position: "fixed";
  float: right;
  top: "5";
  width: 100%;
  margin-top:"3%";
  display: "flex";
  opacity: '0.85';
  justify-content: "space-around";
  padding-left: 30px;
  padding-right: 20px;
  padding-top: 5px;
}

.left-side-bar {
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  padding-top: 200px;
  padding-left: 30px;
  
}

.right-side-bar {
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  padding-top: 60px;
}

.main-container {
  display: grid;
  grid-template-columns: 50% 50%;
  /* grid-template-rows: 100%; */
  grid-gap: 10px;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  grid-auto-flow: row;
  width: 100%;
  padding-top: 40px;
  padding-left: 20px;
  padding-right: 20PX;
}

.button {
  background-color: #2465b9;
  color: white;
  border-radius: 12px;
}

.button:hover{
  background-color: #FFA333;
}

.button:active{
  background-color: #FFA333;
  box-shadow: 0 2px #666;
  translate: 4px;
}



.side-bar-button{
  background-color: #2465b9;
  color:  white;
  font-size: 9px;
  padding: 2px;
  border-radius: 12px;
}

.job-card-button{
  background-color: white;
  color:  #2465b9;
  font-size: 9px;
  padding: 2px;
  border-radius: 12px;
}

.job-card-button:hover{
  background-color: #FFA333;
}

.job-card-row {
  margin-right: 20px;
}

.side-bar-button:hover{
  background-color: #FFA333
}






